@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #212121;
  --background-start-rgb: #E4E5FC;
  --background-start-rg2b: #8183f7;
  --background-end-rgb: #CCD3D3;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Jost', sans-serif;
    z-index: 1000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
